<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Card Maker</span>
    <span class="spacer"></span>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Settings">settings</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="scroll-view">
  <mat-card class="card-margin info-card">
    <mat-card-title>Basic Information</mat-card-title>

    <mat-form-field class="full-width">
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Summary">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Phase">
        <mat-option *ngFor="let phase of phases" [value]="phase">
          {{phase.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card>

  <mat-card class="card-margin info-card">
    <mat-card-title>Rolls</mat-card-title>

    <mat-form-field class="full-width">
      <input matInput placeholder="Roll Target">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Roll Type">
        <mat-option *ngFor="let rollType of rollTypes" [value]="rollType">
          {{rollType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Roll Text">
    </mat-form-field>

  </mat-card>

  <mat-card class="card-margin info-card">
    <mat-card-title>Critical Effect</mat-card-title>

    <mat-form-field class="full-width">
      <mat-select placeholder="Effect Type">
        <mat-option *ngFor="let effectType of effectTypes" [value]="effectType">
          {{effectType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="First Effect">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Second Effect">
    </mat-form-field>

  </mat-card>
</div>