.card-margin {
    margin: 5px;   
}

.info-card {
    width: 250px;
}

.spacer {
    flex: 1 1 auto;
}

.scroll-view {
    max-height: calc(100vh - 75px);
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding:5px
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #1a1a1a; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #353535; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.right-icon {
    direction: rtl;
}

.select-option {
    background: #555;
}

.select-option:nth-child(odd) {
    background: #606060;
}

.card-preview {
    position: absolute;
    top: 70px;
    left: 315px;
    bottom: 5px;
    right: 60px;
    
    border-radius: 2px;
    border: solid 1px #353535;
}

.window {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

.tools {
    position: absolute;
    right: 5px;
    top: 70px;
    width: 40px;
    height: 300px;
    
    // background:#252525;
    background: #353535;

    padding: 5px;
}